
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Plain Layout</title>
    @Styles.Render("~/Content/css")

</head>
<body>
    <div class="align-content-center">
            Textile
    </div>

    <div class="container">
        <div class="row">
            <div class="container" id="formContainer">
                @RenderBody()
            </div>
        </div>
    </div>
            @RenderSection("scripts", required: false)
</body>
</html>
